.header{
    height: 80px;
    background: #FFF;
    margin-bottom: 50px;
    border-bottom: solid 1px rgb(147, 147, 147);

}
.container{
    margin: 0 auto;
    width: 90%;
}
.boxLogo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.boxLogo h2{
    color: #DB0001;
    font-family: 'Montserrat', sans-serif;
}